/* button color= #25c16f   gradient= 09433e  21796a*/
.header{ 
    background-image: linear-gradient(to right bottom, #09433e, #0e5049, #145d54, #1a6b5f, #21796a);
}

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #09433e;
  }
  .mini-menu{
       padding-top: 5px;
      padding-bottom:5px;
  }
  hr{
    border: 0.5px solid rgba(255,255,255,0.5);
  }

  /* underline menu */
  .undermini{
    background-color:#1f7567;
    /* height:50px; */
  }
  ul { 
    margin: auto; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 700px;
    text-align: center;
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 1px 0;
  }
  b {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 1px 0px;
    padding-bottom: 0%;
    position: relative;
  }
  b:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 5;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #2ac272;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  b:hover:after { 
    width: 100%; 
    left: 0; 
  }
  @media screen and (max-height: 300px) {
    ul {
      margin-top: 40px;
    }
  }
  .portal-banner{
    padding-bottom:100px;
    text-align:center;
  }
  .portal-banner h1 {
    font-size: 54px;
    line-height: 54px;
    font-weight: 600;
    text-align: center;
    color: #FFF;
    padding-top: 45px;
    text-shadow: none;
    
}
.search{
  border: none;
    box-shadow: 0 0 0;
    height: 70px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #fcfcfc;
    padding: 6px 10px 6px 60px;
    width: 600px;
}
.icon-search {
  background: url(https://company-assets.freshworks.com/freshdesk-portal/search@3x.png) no-repeat -1px -2px/112%;
  width: 30px;
  height: 50px;
  position: absolute;
  margin-top: 23px;
  margin-left: 16px;
  
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#cont1{
  height:70%;
  width: 30%;
  margin-right:10px;
  margin-left: 10px;
}
.allcat
  {color: #25c16f;
    background-color: #ebf9f2;
    border-radius: 4px;
    padding: 11px 46px;
    width: auto;
    font-size: 16px;
    font-weight: bold;
    border: solid 1px #25c16f;
    display: inline-block;
    min-height: 44px;
    letter-spacing: 1.1px;
    box-shadow: none;
    position: center;
  }
  .allcat:hover{
    color: #25c16f;
    background-color: #c2f0d7;
    border: solid 1px #25c16f;
  }
.wrapper {
  padding-top:25px;
  text-align: center;
  padding-bottom:25px;
}
#cont2{
  height:70%;
  width: 28%;
  margin-right:auto;
  margin-left: auto;
}
.signbtn{
    border-radius: 3px;
    text-transform: uppercase;
    background-color: #25c16f;
    color: #fff;
    padding: 8px 30px;
    display: inline-block;
    margin-top: 20px;
    letter-spacing: 0.5px;
    font-weight: bold;
    border: solid 1px #25c16f;
    font-size: 16px;
    margin-bottom: 25px;
}
.pattern{
  height: 120px;
background:
linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
background-color:#e1ebbd;
background-size: 128px 128px;
margin-bottom: 0%;
}
#cont3{
  height:auto;
  width: 16%;
  margin-right:auto;
  margin-left: auto;

}
body,html {
  overflow-x: hidden;
}
footer{
  padding-top:10px ;
  text-align: center;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
@media only screen and (max-device-width: 480px) {
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}

@media only screen and (min-device-width: 481px) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}
/* Mobile css */

.topnav {
  overflow: hidden;
  background-color:#166359;
  position: relative;
  width: 100%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #166359;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color:#166359;
  color: #fff;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #166359;
  color: white;
}

/* Mobile side bar menu*/

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.top-bar{
  background-color:#12574f;
}